body{
    margin: 0px; 
    font-family: 'Open Sans', sans-serif; /* Fonte geral */
    /* Defininfo gradiente linear (angulo, 1º cor(rgba), 2º cor (rgba)) */
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    height: 100vh; /* Definindo altura da tela */
}
.main{
    width: 1000px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    padding-top: 65px;
    
}
main{
    display: flex; /* Display flex (originalmente é em block), flex permite 
    que alinhe elementos um ao lado do outro. */
    align-items: center; /* Alinhando todos ao centro. */
    justify-content:space-between;  /* Define mesmo espaço entre elementos. */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
ul{
    margin: 0; 
    list-style: none; /* Tira o estilo do menu */
    display: flex;
    gap: 48px; /* define distacia entre elementos */
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
ul li a{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none; /* Removento decoração de texto */
    color: #1F1534;
    opacity: 0.5;
}
ul li a:hover{
    font-weight: bold;
    opacity: 1.0;
}
h1{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    padding-left: 50px;
    padding-right: 50px;
}
h1 spam{
    color: #89C5CC;
}
p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin: 40px 0;
    padding-left: 50px;
    padding-right: 50px;
}
button{
    color: white;
    text-transform: uppercase; /* Deixando texto em maiúsculo */
    font-family: 'Open Sans', sans-serif;

    background: #69B99D;
    border-radius: 4px; /* Arredondamento do botão */
    border: none; /* Definindo borda */

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 14px 32px 15px;
    gap: 10px;

    cursor: pointer; /* Faz com que o ponteiro de click apareça naquela área. */
}
button:hover{
    background: #4c9279;
}
footer{
    font-size: 14px;
    font-weight: 24px;
    text-align: center;
    margin-top: 83px;
}
footer a{
    font-weight: bold;
    color: #1F1534;
    text-decoration: none;
}
#balls{
    position: fixed; /* Definindo posição fixa do elemento. */
    bottom: 0;
    right: 0 ;
}
